.App {
  text-align: center;
}

.card {
	width: 400px;
	margin: 10px;
	left: 20px;
}

.deleteButton {
	visibility: hidden;
	float: right;
	margin: 1px;
	font-size: 14px;
	cursor: pointer;
	color: red;
}

.card:hover .deleteButton {
	visibility: visible;
}